Repository OpenFero/openfero, changes with the labels that .github/labeler.yml gives for each.
All labels: enhancement, github_actions, automation, docker, documentation

.github/labeler.yml:

enhancement:
  - changed-files:
      - any-glob-to-any-file:
          - "pkg/**/*"
          - "cmd/**/*"
          - "internal/**/*"
          - "main.go"

github_actions:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/**"
          - ".github/**"

automation:
  - changed-files:
      - any-glob-to-any-file:
          - "charts/**/*"
          - "Dockerfile"
          - "Makefile"
          - ".dockerignore"
          - ".helmignore"

docker:
  - changed-files:
      - any-glob-to-any-file:
          - "Dockerfile"
          - ".dockerignore"

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "**/README.md"
          - "CODE_OF_CONDUCT.md"
          - "LICENSE"
          - "*.md"

fix(dockers): revert early migration to docker_v2 goreleaser
  .goreleaser.yaml
Labels: none

Bump chart version to 0.2.3
  charts/openfero/Chart.yaml
Labels: automation

fix(docs): update signature verification instructions for nightly builds and release artifacts
  docs/SIGNATURE_VERIFICATION.md
Labels: documentation

chore(ci): update Go tests workflow to check for file changes before running tests
  .github/workflows/go-tests.yml
Labels: github_actions

chore(ci): clean up output messages in Go tests workflow
  .github/workflows/go-tests.yml
Labels: github_actions

docs: add comprehensive Operarios development guide
  docs/operarios-development-guide.md
Labels: documentation

docs: add comprehensive Operarios development guide
  docs/operarios-development-guide.md
Labels: documentation

chore(ci): simplify environment variable usage in Go tests workflow
  .github/workflows/go-tests.yml
Labels: github_actions

chore(ci): clean up output messages in Go tests workflow
  .github/workflows/go-tests.yml
Labels: github_actions

chore(ci): update Go tests workflow to check for file changes before running tests
  .github/workflows/go-tests.yml
Labels: github_actions

chore(ci): simplify environment variable usage in Go tests workflow
  .github/workflows/go-tests.yml
Labels: github_actions

fix(release): correctly set TAG environment variable for git tagging
  .github/workflows/release.yml
Labels: github_actions

fix(release): correctly set TAG environment variable for git tagging
  .github/workflows/release.yml
Labels: github_actions

Bump chart version to 0.2.3
  charts/openfero/Chart.yaml
Labels: automation

chore(deps): add groups for GitHub Actions, Go modules, and Docker in dependabot configuration
  .github/dependabot.yml
Labels: github_actions

chore(deps): rename automation group to dependencies in dependabot configuration fix(release): remove automation label from CI category in release configuration
  .github/dependabot.yml
  .github/release.yml
Labels: github_actions

chore(deps): add groups for GitHub Actions, Go modules, and Docker in dependabot configuration
  .github/dependabot.yml
Labels: github_actions

chore(deps): rename automation group to dependencies in dependabot configuration fix(release): remove automation label from CI category in release configuration
  .github/dependabot.yml
  .github/release.yml
Labels: github_actions

chore(deps): update dependabot configuration to use labels instead of groups for GitHub Actions
  .github/dependabot.yml
Labels: github_actions

chore(release): update changelog categories for better organization
  .github/release.yml
Labels: github_actions

docs: extend webhook security documentation
  docs/authentication.md
Labels: documentation

feat(frontend): enhance WorkflowView with vue-flow integration
  frontend/src/views/WorkflowView.vue
  frontend/src/views/__tests__/WorkflowView.spec.ts
Labels: none

refactor: remove workflow visualization for MVP release
  frontend/package-lock.json
  frontend/package.json
  frontend/src/router/index.ts
  frontend/src/views/WorkflowView.vue
  frontend/src/views/__tests__/WorkflowView.spec.ts
Labels: none

ci: disable frontend linting in super-linter (handled by frontend-tests.yml)
  .github/workflows/super-linter.yml
Labels: github_actions

ci: build frontend before Go tests (required for embed.FS)
  .github/workflows/go-tests.yml
Labels: github_actions

ci: fix super-linter errors for frontend migration
  .github/instructions/general.instructions.md
  .github/instructions/security.instructions.md
  .github/workflows/release.yml
  .github/workflows/super-linter.yml
  frontend/README.md
  pkg/handlers/websocket.go
Labels: enhancement, github_actions, documentation

ci: fix remaining super-linter errors
  .github/instructions/frontend.instructions.md
  .github/instructions/general.instructions.md
  .github/workflows/release.yml
Labels: github_actions
