Repository OpenFero/openfero, changes with the labels that .github/labeler.yml gives for each.
All labels: enhancement, ci, documentation

.github/labeler.yml:

# Enhancement related files
enhancement:
  - "pkg/**/*"
  - "cmd/**/*"
  - "internal/**/*"
  - "main.go"
  - ".github/ISSUE_TEMPLATE/feature_request.md"

# CI/CD related files
ci:
  - ".github/workflows/**/*"
  - "charts/**/*"
  - ".helmignore"
  - "Dockerfile"
  - "Makefile"
  - ".dockerignore"

# Documentation related files
documentation:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "CODE_OF_CONDUCT.md"
  - "**/README.md"

add example for openfero remediationJob
  config/crd/bases/openfero.io_remediationjob.yaml
  config/rbac/role.yaml
  config/samples/openfero_v1alpha1_remediationjob.yaml
Labels: none

update README and add quickstart guide
  README.md
  docs/installation-recommendations/README.md
  docs/quickstart.md
Labels: documentation

update contributor documentation
  CONTRIBUTING.md
Labels: documentation

Bump chart version to 0.2.1
  charts/openfero/Chart.yaml
Labels: ci

replace superlinter with dedicated linters
  .github/linters/.yamllint
  .github/linters/README.md
  .github/workflows/lint.yml
Labels: ci, documentation

Bump chart version to 0.2.2
  charts/openfero/Chart.yaml
Labels: ci

update dependencies
  go.mod
  go.sum
Labels: none

fix(helm): correct YAML indentation in PodDisruptionBudget and RoleBinding
  charts/openfero/templates/poddisruptionbudget.yaml
  charts/openfero/templates/rolebinding-read-jobs.yaml
Labels: ci

add different authentication methods to secure alert POST endpoint
  auth_test.go
  docs/authentication.md
  main.go
  pkg/handlers/alerts.go
  pkg/handlers/auth.go
Labels: enhancement, documentation

fix: resolve nil pointer dereference in auth integration test
  auth_test.go
Labels: none

fix: update authentication examples in documentation for clarity and consistency
  auth_test.go
  docs/authentication.md
Labels: documentation

feat: add GitLeaks configuration and update authentication documentation for clarity
  .gitleaks.toml
  docs/authentication.md
  docs/monitoring/README.md
Labels: documentation

feat: add GitLeaks configuration to super-linter and update authentication examples for consistency
  .github/workflows/super-linter.yml
  docs/authentication.md
Labels: ci, documentation

[StepSecurity] ci: Harden GitHub Actions
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/go-tests.yml
  .github/workflows/label.yml
  .github/workflows/nightly-build.yml
  .github/workflows/release-only-chart.yaml
  .github/workflows/release.yml
  .github/workflows/scorecards.yml
  .github/workflows/super-linter.yml
Labels: ci

feat: update dependencies to latest versions
  go.mod
  go.sum
Labels: none

chore: ignore binary in .gitignore
  .gitignore
Labels: none

fix: update .gitignore to correctly ignore the .vscode directory and openfero
  .gitignore
Labels: none

feat: Add Operarius CRD support for alert handling
  Makefile
  README.md
  api/v1alpha1/groupversion_info.go
  api/v1alpha1/operarius_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/openfero/templates/deployment.yaml
  charts/openfero/values.yaml
  config/crd/bases/openfero.io_remediationjob.yaml
  config/rbac/role.yaml
  docs/operarius-crd-migration.md
  docs/operarius-crds.md
  docs/operarius-development-guide.md
  docs/samples/openfero_v1alpha1_operarius.yaml
  docs/samples/openfero_v1alpha1_operarius_kubequota.yaml
  docs/samples/openfero_v1alpha1_operarius_kubequota_simple.yaml
  docs/samples/openfero_v1alpha1_operarius_podrestart.yaml
  go.mod
  go.sum
  hack/boilerplate.go.txt
  hack/boilerplate.yaml.txt
  pkg/handlers/alerts.go
  pkg/services/operarius.go
  pkg/services/operarius_test.go
Labels: enhancement, ci, documentation

Fix formatting inconsistencies in release.yml
  .github/workflows/release.yml
Labels: ci

Update Go version and bump dependencies in go.mod and go.sum
  go.mod
  go.sum
Labels: none

Enhance security context and add health check to Dockerfile
  .github/workflows/super-linter.yml
  charts/openfero/values.yaml
  goreleaser.dockerfile
Labels: ci

Fix health check command syntax in Dockerfile
  goreleaser.dockerfile
Labels: none

Update GitHub Actions workflows to improve Go support and enhance security by adding paths and ignoring unnecessary files
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/go-tests.yml
  .github/workflows/nightly-build.yml
  .github/workflows/release.yml
  .github/workflows/super-linter.yml
Labels: ci

Update GitHub Actions workflows to improve Go support and enhance security by adding paths and ignoring unnecessary files
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/go-tests.yml
  .github/workflows/nightly-build.yml
  .github/workflows/release.yml
  .github/workflows/super-linter.yml
Labels: ci

Add Trivy security scanning configuration and ignore file
  .github/workflows/super-linter.yml
  .trivyignore
  trivy.yaml
Labels: ci

Remove Trivy security scanning from super-linter configuration
  .github/workflows/super-linter.yml
Labels: ci

Update workflow permissions for enhanced clarity and functionality
  .github/workflows/codeql.yml
  .github/workflows/label.yml
  .github/workflows/nightly-build.yml
  .github/workflows/release-only-chart.yaml
  .github/workflows/release.yml
  .github/workflows/scorecards.yml
  .github/workflows/super-linter.yml
Labels: ci

fix(workflows): address security vulnerabilities from linting
  .github/workflows/go-tests.yml
  .github/workflows/label.yml
  .github/workflows/nightly-build.yml
  .github/workflows/release-only-chart.yaml
  .github/workflows/release.yml
  .github/workflows/super-linter.yml
Labels: ci

fix(workflows): update pull request event types for labeler workflow
  .github/workflows/label.yml
Labels: ci

fix(workflows): wrap LATEST_RELEASE in quotes for proper YAML formatting
  .github/workflows/release-only-chart.yaml
Labels: ci

fix(workflows): ensure proper variable expansion for latest release in output
  .github/workflows/release-only-chart.yaml
Labels: ci

Fix formatting of badges in README.md
  README.md
Labels: documentation

feat(workflows): integrate Cosign for signing and verifying container images and Helm charts
  .github/workflows/release-only-chart.yaml
  .github/workflows/release.yml
  SIGNATURE_VERIFICATION.md
Labels: ci, documentation

fix(workflows): update Cosign release version to v2.6.0 in workflows
  .github/workflows/release.yml
Labels: ci

fix(workflows): update Cosign release version to v2.6.0 in release workflow
  .github/workflows/release-only-chart.yaml
Labels: ci

fix(workflows): update Cosign release version to v2.6.0 and improve variable handling in workflows docs: enhance signature verification documentation and fix formatting issues
  .github/workflows/release-only-chart.yaml
  .github/workflows/release.yml
  .goreleaser.yaml
  .prettierignore
  .prettierrc.json
  README.md
  docs/SIGNATURE_VERIFICATION.md
Labels: ci, documentation

fix(prettier): format .prettierrc.json for consistent indentation
  .prettierrc.json
Labels: none

fix(workflows): enable persist-credentials for git operations in nightly build
  .github/workflows/nightly-build.yml
Labels: ci

fix(workflows): refine tag creation step to only execute on workflow_dispatch event
  .github/workflows/release.yml
Labels: ci

fix: update certificate identity regexp to use correct casing for repository name
  .github/workflows/release.yml
  .goreleaser.yaml
  docs/SIGNATURE_VERIFICATION.md
Labels: ci, documentation
